<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:fragment="header">
    <ul class="nav justify-content-center bg-white">
        <li class="nav-item">
            <a class="nav-link " th:href="@{/students}">Студенты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/groups}">Группы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/subjects}">Предметы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/marks}">Оценки</a>
        </li>
    </ul>
</header>

<!--<div class="container-fluid text-center fixed-bottom text-bg-dark " th:fragment="footer">-->
<!--    <p>Created by Pominov 2022 &copy;</p>-->
<!--</div>-->

<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Created by Pominov 2022 &copy;:
        <a class="text-white" href="https://github.com/Pominov7/StudentsApplication/tree/master/src/main">GitHub</a>
    </div>
</footer>

</body>
</html>