<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:fragment="header">
    <ul class="nav justify-content-center bg-white" >
        <li class="nav-item">
            <a class="nav-link " th:href="@{/students}">Студенты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Группы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Факультеты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Контакты</a>
        </li>
    </ul>
</header>
<div class="container-fluid text-center fixed-bottom text-bg-dark " th:fragment="footer">
    <p>Created by Pominov 2022 &copy;</p>
</div>


</body>
</html>