<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example">
<div class="wrapper">
    <div class="content">
        <br>
        <div class="container-fluid text-center">
        <h1>Sign in</h1>
        <form th:action="@{/login}" method="post">
            <label> Login:
                <input type="text" name="username"/>
            </label>
            <label> Password:
                <input type="password" name="password"/>
            </label>
            <button> Sign in</button>
        </form>
        </div>
    </div>
    <div>
        <footer th:insert="layout/layouts.html :: footer "></footer>
    </div>
</div>

</body>
</html>