<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example">
<div class="wrapper">
    <div class="content">
        <div class="container-fluid text-center">
            <h1>Welcome to Students App Application</h1>
            <br>
            <a th:href="@{/students}" class="header">Manage students</a>
            <br>
            <form th:action="@{/logout}" method="post">
                <br>
                <button>Log out</button>
            </form>

        </div>
    </div>
    <div>
        <footer th:insert="layout/layouts.html :: footer "></footer>
    </div>
</div>

</body>
</html>