<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Mark</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="container-fluid text-center">

            <table class="table table-bordered bg-light">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Assessment</th>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="mark: ${listMarks}">
                    <tr>
                        <td>[[${mark.id}]]</td>
                        <td>[[${mark.assessment}]]</td>
                        <td>[[${#dates.format(mark.date, 'dd.MM.yyyy')}]]</td>
                        <td>[[${mark.subject.subjectName}]]</td>
                        <td></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>