<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>


<div class="container-fluid text-center" th:object="${student}">
    <h2>Student</h2>
<dl class="row">
    <dt class="list-inline-item">ID</dt>
    <dd class="list-inline-item"> <p ><span th:text="${id}"></span></p></dd>

    <dt class="list-inline-item">Имя</dt>
    <dd class="list-inline-item"><p><span th:text="${firstName}"></span></p></dd>

    <dt class="list-inline-item">Фамилия</dt>
    <dd class="list-inline-item"><p><span th:text="${lastName}"></span></p></dd>
    </dl>
</div>
<!--<div class="container-fluid text-center" th:object="${student}">-->
<!--    <h2>Student</h2>-->
<!--    <p><span th:text="'id: ' +${id}"></span></p>-->
<!--    <p><span th:text="'firstName: ' + ${firstName}"></span></p>-->
<!--    <p><span th:text="'lastName: ' + ${lastName}"></span></p>-->
<!--</div>-->
</body>
</html>