<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example">
<header th:insert="layout/layouts.html :: header "></header>
<br>
<div class="container-fluid text-center">
    <!-- сообщение -->
    <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
    </div>

    <!-- фильтр-->
    <div method="get" th:action="@{/students}" th:object="${containsFilter}">
        <form>
            <input type="text" th:field="*{match}"/>
            <button>Find</button>
        </form>
    </div>
    <br>
    <table class="table table-bordered">
        <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Group</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="student: ${listStudents}">
            <tr>
                <td>[[${student.id}]]</td>
                <td>[[${student.firstName}]]</td>
                <td>[[${student.lastName}]]</td>
                <td th:if="${student.group != null}">[[${student.group.groupName}]]</td>
                <td th:if="${student.group == null}">NONE</td>
                <td>
                    <a th:href="@{'/students/edit/' + ${student.id}}" class="btn btn-secondary">Edit</a>
                    <a th:href="@{'/students/delete/' + ${student.id}}" class="btn btn-danger">Delete</a>
                    <a th:href="@{'/students/details/' + ${student.id}}" class="btn btn-warning">Details</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!-- ссылка на добавление нового студента -->
    <a th:href="@{/students/new}"> Add new Student </a>
</div>
<div>
    <footer th:insert="layout/layouts.html :: footer "></footer>
</div>
</body>
</html>