<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>


<div class="container-fluid text-center" th:object="${student}">
    <h2>Student</h2>
<dl class="row">
    <dt class="list-inline-item">ID</dt>
    <dd class="list-inline-item"> <p ><span th:text="${id}"></span></p></dd>

    <dt class="list-inline-item">Имя</dt>
    <dd class="list-inline-item"><p><span th:text="${student.firstName}"></span></p></dd>

    <dt class="list-inline-item">Фамилия</dt>
    <dd class="list-inline-item"><p><span th:text="${student.lastName}"></span></p></dd>
    </dl>
</div>

<div class="container-fluid text-center fixed-bottom text-bg-dark " th:fragment="footer">
    <h5>Created by Pominov 2022 &copy;</h5>
</div>
</body>
</html>