<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update student</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <h1>Update student</h1>
  <!-- форма изменения студента -->
  <form method="post" th:action="@{/students/update}" th:object="${student}">
    <!-- поле имени -->
    <label>
    <input type="hidden" th:field="*{id}"/>
    </label>
    <label>First Name: </label>
    <label>
      <input type="text" th:field="*{firstName}" required minlength="1" maxlength="50"/>
    </label>
    <!-- поле фамилии -->
    <label>Last Name: </label>
    <label>
      <input type="text" th:field="*{lastName}" required minlength="1" maxlength="50"/>
    </label>
    <!-- кнопка сохранить -->
    <button type="submit" class="btn btn-success">Save</button>
    <!-- кнопка отмены -->
    <a th:href="@{/students}" class="btn btn-danger">Cancel</a>
  </form>

</div>
<div class="container-fluid text-center fixed-bottom text-bg-dark " th:fragment="footer">
  <h5>Created by Pominov 2022 &copy;</h5>
</div>
</body>
</html>